{% extends 'shop/base.html' %}

{% block title %}Update Product{% endblock %}

{% block content %}
    <div class="features">
        <h1>Update Product</h1>
        <br>
        <form method="post">
            {% csrf_token %}

            <input type="text" name="name" class="form-control" placeholder="Enter Product Name" value="{{ object.name }}">
            <br>
            <textarea name="description" class="form-control" placeholder="Enter Description">{{ object.description }}</textarea>
            <br>
            <input type="number" name="price" class="form-control" placeholder="Enter Price" value="{{ object.price }}" min="0">
            <br>
            <input type="number" name="count" class="form-control" placeholder="Enter Count" value="{{ object.count }}" min="0">
            <br>
            <button class="btn btn-primary" type="submit">Update</button>

        </form>
    </div>
{% endblock %}